
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.trafficLight {
    width: 6.5rem;
    height: 10rem;
}
.post {
    width: 1.25rem;
    height: 15.25rem;
}
.sice{
    width: 3rem;
    height: 3rem;
}
.lightOn {
    box-shadow: 0 0 30px 10px rgba(189, 183, 183, 0.7); 
}